:root{
  --primary : #da6319;
  --secondary : #fdf2e3;
  --white : #ffff;
  --primaryF: #717171;
  --font1 : Palatino, "Palatino Linotype", "Book Antiqua", serif;
  --font2 : 'DM Sans', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.7px;
  font-weight: 100;
}
.container {
  max-width: 1000px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 20px;
  margin-top: 15vh;
}
.faq-section, .image-section {
  flex: 1;
}
.faq-section h1{
  font-family: var(--font1);
  color: var(--primary);
}
.container .faq-section .form-control{
  font-family: var(--font2);
  font-weight: 200;
  border-style: dashed;
  letter-spacing: 0.7;

}
.container .faq-section .form-control:focus{
  border-color: var(--primary);
  box-shadow: none;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--primaryF);
}
.faq {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.faq-item {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
.question {
  font-weight: 300;
  color: var(--primaryF);
  font-family: var(--font1);
}
.answer {
  color: var(--primaryF);
  margin-top: 5px;
}
.image-section img {
  width: 100%;
  border-radius: 10px;
  padding: 20px;
}
@media (max-width: 768px) {
  .container {
      flex-direction: column;
      align-items: center;
      padding: 15px;
  }

  .faq-section {
      order: 2;
      width: 100%;
  }

  .image-section {
      order: 1;
      width: 100%;
  }

  .image-section img {
      padding: 0;
  }
}